@page
@model CLDV6211POE.Pages.AboutModel
@{
}



<div class="text-center">
    <h2 class="display-4">About Us</h2>

    <img src="https://www.dut.ac.za/wp-content/uploads/2023/03/Race-Walk-1.jpg" alt="KhumaloCraft artisans creating handcrafted treasures" class="img-fluid rounded mx-auto d-block mb-4" />

    <p class="lead">KhumaloCraft Emporium was born from the vision of James Khumalo, a passionate entrepreneur who believes in the power of handcrafted goods. James dreamt of creating a global platform, a digital emporium, where skilled artisans from all corners of the world could connect with a discerning audience who appreciates the beauty and soul poured into handmade creations.</p>
    <p>KhumaloCraft Emporium is more than just an online store; it's a bridge between passionate makers and those seeking unique, handcrafted treasures. We are committed to showcasing the finest craftsmanship and celebrating the stories behind each piece.</p>
</div>
