@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center" >
    <h2> Where heritage meets artistry. </h2>
    <img src="https://lh3.googleusercontent.com/gg/AGHqDs6CqrRr9bd22DAqr_56wirw3oSdlRd31f6aAbyqyH4VyOxWx0zTQr3P5zst-y4fwXAbCCvOZ0-ju1p1Z3LpBW1bi6nFjeaChLGUqS9V9rchSn3mCGAZnkbe-PFhbVasybgOnWynPWDqAjfXutG8PVxsxtInIlJ0UGRMd1Shpgk1w8y757Jf-3AL8h9MEMiBA3WDt4bqTWMsC8xfCEPC0-653WjJ97NsLEXGhb6Uwl3wk1CTfgA_KFFMxzro9NJl9ZebZqOuAvyfeHYCtsvnSBo7ftVBpQr3dOlrtdLuEEMDkUMgXnr0EHterSD3Ta_t7aHkGj0iuDnkLbx4jUk" />
    
    
</div>
