@page
@model CLDV6211POE.Pages.MyWorkModel
@{
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KhumaloCraft Emporium</title>
   
</head>
<body>
    <div class="text-center" >
         
        <p class="lead">James Khumalo, a visionary entrepreneur, set out to establish KhumaloCraft Emporium as a global e-commerce platform to showcase handcrafted products. His dream involves connecting artisans worldwide with a discerning audience.</p>

        <h2>KhumaloCraft Emporium Artisans: </h2>
      
        <h2>Olwethu Dlamini </h2>

        <p class="lead">Olwethu Dlamini's passion for craftwork burns brightly. From a young age, she was captivated by the intricate details and techniques passed down through generations in her family. Her work, often featuring vibrant textiles and beadwork, reflects a deep appreciation for cultural heritage and storytelling.  Each piece is a unique expression of her artistic vision, imbued with the warmth and energy of her creative spirit.</p>
        
        <h2>Artwork:</h2>

        <h2>Price - R1200</h2>

        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/48/Craftwork_01.jpg/450px-Craftwork_01.jpg?20180829144836" alt="Handcrafted artwork">
        
        <h2>Mbali Manqele</h2>

        <p class ="lead">Mbali Manqele's artistic journey began with a playful curiosity for manipulating clay. Now, she is a renowned sculptor whose work explores themes of human connection and the beauty of the natural world. Her sculptures, crafted from locally sourced  materials, possess a captivating organic quality. Each piece is a testament to he  dedication to her craft and her ability to imbue form with profound emotion.</p>

        <h2>Artwork:</h2>

        <h2>Price - R4800</h2>

        <img src="https://cb2.scene7.com/is/image/CB2/WeaverBirdSculptureSHS23/$web_pdp_main_carousel_md$/240215085030/weaver-bird-black-fiber-clay-bust.jpg" alt="Weaver Bird Sculpture - Black Fiber Clay Bust">
        
        <h2>Tshepo Masondo</h2>

        <p class="lead">Tshepo Masondo's passion for woodworking is evident in the meticulous craftsmanship and timeless elegance of his creations. Inspired by functional objects with a touch of artistic flair, he transforms simple materials into pieces that  seamlessly blend form and purpose. From intricately carved serving platters to sleek, minimalist furniture, Tshepo's work is a testament to his dedication to precision and functionality.</p>

        <h2>Artwork:</h2>

        <h2>Price - R7000</h2>

        <img src="https://cdn11.bigcommerce.com/s-86d67/images/stencil/608x608/products/6337/5042/custom_crafttable_1lg__86621.1411418727.jpg?c=2" alt="Custom Craft Table">



    </div>

</body>
</html>